/*
  Color de fondo: hsl(185, 75%, 39%)
  Color del texto gris: hsl(227, 10%, 46%)
 */

html{
  background-color:#19a2ae;
}


body{
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Verdana, Geneva, Tahoma, sans-serif, Courier, monospace;
}

.circulo__top{
  position: absolute;
  top: -350px;
  left: -150px;
  width: 60%;
}
.circulo__bottom{
  position: absolute;
  right:-250px;
  top: 450px;
  width: 70%;
}

.contenedor{
  position: relative;
  top:30%;
  width: 350px;
  height: 350px;
  margin: auto;
  background-color: aliceblue;
  border-radius: 20px;
  overflow: hidden;
}


.contenedor__datos{
  margin-top: 3em;
  text-align: center;
}
.perfil{
  position: absolute;
  left:135px;
  top: 73.75px;
  width: 76px;
  border: 2px solid #fff;
  border-radius: 50%;
}
.texto__claro{
  color:hsl(227, 10%, 46%);
  font-size: 1rem;
}

.contenedor__info{
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  border-top: 1px solid #cfcfcf;
}

.number{
  padding: 0.2em;
  margin-top: 0.4em;
  font-size: 1.4rem;
}
